ActionBar {
    padding-top: 10;
    background-color: #EFC825;
    color: black;
}

ListView {
  opacity: 0;
}

.title {
    color: black;
    font-size: 15;
    font-weight: bold;
    text-align: left;
}

.img_media {
    width: 150;
    height: 150;
}

.item_content {
    padding: 5;
}

.visible {
  animation-name: show;
  animation-duration: 1s;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}